<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdevelopers.nasta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity
            android:name=".Login.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Opens.HotelOpenActivity"
            android:label="@string/title_activity_hotel_open"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllItemsActivity"
            android:label="@string/title_activity_all_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Adds.AddHomeActivity"
            android:label="@string/title_activity_add_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Adds.AddHotelActivity"
            android:label="@string/title_activity_add_hotel"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".Opens.MyHotelOpenActivity"
            android:label="@string/title_activity_my_hotel_open"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
    </application>

</manifest>